<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TravelSathi-Forgot password</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>Forgot password</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form action="/reset" class="sign-in-form" method="post">
            <img src="/new.png" class="rounded-circle" alt="logo" width="150" height="150">
            
             <h2 class="text-center"><i class="fa fa-lock "></i> Forgot Password?</h2>
                  <p>You can reset your password here.</p>    
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input name='username' type="text" placeholder="Email" />
            </div>
            
             <button type='submit' class='btn solid'>Reset Password</button>

            <p>Not registered yet? <a href="/">Register first</a></p>
          </form>
           
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Dont Worry !!!</h3>
            <p>
             <b>Welcome to TravelSaathi <br></b> 
             Enter your email details and you will receive an OTP to change your password .
            </p>
          </div>
          <img src="/forget.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="/app.js"></script>
        
  </body>
</html>